target/
!.mvn/wrapper/maven-wrapper.jar
/queuectl.db
/queuectl.db-journal

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/resources/archetype-resources/pom.xml

### VS Code ###
.vscode/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Compiled class files
*.class

# Log files
*.log

*.db
*.db-journal
*.db-shm
*.db-wal

# IDE files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS files
.DS_Store
Thumbs.db


.env
